$back: #D4D5D9;
$text: #606060;
$center: 0 auto;

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  color: #606060;

  .nav_banner {
    padding: 0;
  }

  .content {
    min-height: calc(100vh - 212px);
    margin-bottom: 40px;
  }

  .navbar {
    background: #D4D5D9;
    padding: 0 0 0 16px;

    .navbar-brand {
      width: 160px;
      height: 70px;
      padding-top: 10px;
    }

    .navbar-nav a {
      color: #606060;
      width: 85px;
      text-align: center;
      height: 70px;
      padding-top: 25px;
      &:hover {
        background: #999;
        color: #fff;
      }
    }
  }

  ul.navbar-nav li {
    b {
      color: #606060;;
    }

    &:last-of-type {
      position: absolute;
      right: 0;
    }
  }



  #myCarousel {
    margin-bottom: 30px;

    .carousel-caption {
      background: lightgray;
      background: rgba(26, 32, 60, 0.5);
      width: fit-content;
      border-radius: 3px;
      margin: $center;
      padding: 10px;
    }
  }

  .page-list {
    .card {
      a {
        text-align: center;
      }
    }
  }

  .product .card {
    img {
      margin: 0 auto;
      width: 400px;
    }
  }

  footer {
    background: #D4D5D9;

    .row {
      margin: 30px 0 30px 0;
    }

    .column-footer {
      text-align: center;

      p {
        text-align: left;
      }
    }

    .footer-logo img {
      padding-top: 10px;
    }

    .fa-address-book {
      margin-left: -19px;
    }
  }
}

