$back: #D4D5D9;
$text: #606060;
$center: 0 auto;

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif!important;
  color: $text;

  .content {
    min-height: calc(100vh - 212px);
    margin-bottom: 40px;
  }

  .navbar {
    background: $back;
    padding: 0 0 0 16px;

    .navbar-brand {
      width: 160px;
      height: 70px;
      padding-top: 10px;
    }

    ul.navbar-nav {
      a {
        color: $text;
        width: 85px;
        text-align: center;
        height: 70px;
        padding-top: 25px;
        &:hover {
          background: #999;
          color: #fff;
        }
      }

      li {
        b {
          margin: 0 5px;
          color: $text;
        }

        &:last-of-type {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  #myCarousel {
    margin-bottom: 30px;

    .carousel-caption {
      background: lightgray;
      background: rgba(26, 32, 60, 0.5);
      width: fit-content;
      border-radius: 3px;
      margin: $center;
      padding: 10px;
    }
  }

  .page-list {
    .row {
      justify-content: space-between;
      .card {
        max-width: 360px;
        a {
          text-align: center;
        }
        img {
          margin: 10px 0;
        }
      }
    }
  }

  .product .card {
    img {
      margin: $center;
      width: 400px;
    }
  }

  footer {
    background: $back;

    .row {
      margin: 30px 0 30px 0;
    }

    .column-footer {
      text-align: center;

      p {
        margin: $center;
        width: fit-content;
        text-align: left;
      }
    }

    .footer-logo img {
      padding-top: 10px;
    }

    .fa-address-book {
      margin-left: -19px;
    }
  }
}

@media (max-width: 1200px) {
  body {
    .page-list {
      .row {
        justify-content: space-between;
        .card {
          max-width: 300px;
          img {
            width: 250px;
            height: 250px;
          }
          .row {
            display: block;
            a {
              text-align: center;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1092px) {
  body {
    .page-list {
      .row {
        .card {
          max-width: 345px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .page-list {
      .row {
        .card {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  body {
    .product {
      .card {
        img {
          width: 360px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  body {
    .product {
      .card {
        img {
          width: 285px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  body {
    .page-list {
      .row {
        .card {
          max-width: 295px;
        }
      }
    }
  }
}

