body {
  background-color: lightgray;

  .nav_banner {
    padding: 0;
  }

  ul.navbar-nav li {
    b {
      color: aliceblue;
    }

    &:last-of-type {
      position: absolute;
      right: 16px;
      color: beige;
    }
  }

  .carousel-caption {
    background: lightgray;
    background: rgba(26, 32, 60, 0.5);
    width: fit-content;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
  }

  #list {
    .card {
      a {
        text-align: center;
      }
    }
  }

  .product .card {
    img {
      margin: 0 auto;
      width: 400px;
    }
  }
}

