{% extends 'base.html.twig' %}

{% block title %}Black&White{% endblock %}

{% block body %}
    <div class="parallax shadow-sm">
        <h1>Интернет магазин <br> Мобильных телефонов <br> <b>Black&White</b></h1>
    </div>

    <br>
    
    <div id="myCarousel" class="carousel slide shadow-sm" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item item1 active">
                <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/banner-fold.jp2') }}" alt=".">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Galaxy Fold</h5>
                    <p>Инновационный смартфон с гнущимся экраном.</p>
                </div>
            </div>
            <div class="carousel-item item2">
                <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/moto-banner.jp2') }}" alt=".">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Motorola Razr</h5>
                    <p>Возвращение к класике.</p>
                </div>
            </div>
            <div class="carousel-item item3">
                <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/xr-banner.jp2') }}" alt=".">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Iphone XR</h5>
                    <p>Смартфон с головокружительным качеством видеосьёмки.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
